.footer{
    background-color: #252627;
    color: #fff;
    height: 5%;
    justify-content: center;
    align-items: center;
    padding-top: 1%;

}
    
.main{
    min-height: 60vh;
    padding: 1%;
    height: 100%;
    }
.Header{
    background-color: #252627;
    padding: 1%;
    color: #fffafa;
}

.ListaPersonagens{
    padding-top: 1%;
}

.paragrafo{ 
    padding-left: 30%;
    padding-right: 30%;
    margin: 2%;
}

.home{
    height: 100vh;
    background-color: #333533;
    display: flex;
    flex-direction: column;
    color: #fffafa;
}

.button {
    background-color: #fffafa;
    border-radius: 8px; /* Adjust the border-radius to control the roundness of the corners */
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    display: inline-block;
    font-size: 14px; /* Adjust font size as needed */
    cursor: pointer;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #f0f0f0; /* Change the background color on hover if desired */
    transform: scale(1.1);
}


.link {
    color: #99ccff;
    background-color: transparent;
    text-decoration: underline;
  }

.titulo{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}